<% if (post.link){ %>

    <a class="header" href="<%- url_for(post.link) %>"
       target="_blank" itemprop="url"><%= post.title || '(no title)' %></a>

<% } else { %>
  <% if (index){ %>

      <a class="<header" href="<%- url_for(post.path) %>"><h2 class="post-title"><%= post.title || '(no title)' %></h2></a>

  <% } else { %>
    <h1 class="<%= class_name %>" itemprop="name">
      <%= post.title || '(no title)' %>
    </h1>
  <% } %>
<% } %>
