<%- partial('_partial/head') %>


<body>
<%- partial('_partial/masthead') %>
<div class="ui text main container">
    <div class="ui stackable two column divided grid">
        <!--<%- partial('_partial/header', null, {cache: !config.relative_link}) %>-->
        <div class="twelve wide column" style="margin-bottom: 13px">
            <div class="articles-wrapper">
                <div class="ui two column divided grid">
                    <div class="fifteen wide column">
                <div class="picker">
                        <div class="ui text menu" style="margin-top: -0.5em">
                    <div class="header item">CATEGORIES:</div>
                    <a class="item active" href="categories/JavaScript">
                        JS</a>


                    <a class="item" href="categories/ES5">
                        ES5
                    </a>
                    <a class="item" href="categories/ES6">
                        ES6
                    </a>
                    <a class="item">
                        ES7
                    </a>
                    <a class="item">
                        Ramblings
                    </a>
                            <a class="item">
                                Other
                            </a>

                </div>
                        </div>

                    </div>
                </div>
                <div class="ui relaxed middle aligned divided list">

                    <%- body %>



                </div>


            </div>
        </div>
        <div class="four wide column" style="background-color: #f2f2f2">
            <div class="sidebar-wrapper">
                <a href="/"><img class="ui centered image" src="/images/avatar.png" width="100" height="100"></a>
                <div class="item">
                    <br />

                    <div class="content">
                        <div class="meta">
                                <span class="intro"><p class="intro">» Web developer inspired by minimalism, and order — I write about modern day JavaScript and ramble on occasion.</p></span>
                        </div>

                    </div>


                </div>
                <div class="ui hidden divider"></div>

                <div class="ui list">
                    <h4>» PROJECTS</h4>
                    <a class="item" href="https://github.com/ahadb/es6"> Intro to ES6</a>
                    <a class="item" href="https://github.com/ahadb/flat-file-cms"> Flat File CMS</a>
                </div>

                <div class="ui list">
                    <h4>» ARTICLES</h4>
                    <a class="item" href="2010/02/15/ego-information/"> In The Digital World, Information Has No Ego</a>
                    <a class="item" href="/2015/02/13/why-use-objects/">A Case for Objects {...}</a>
                    <a class="item" href="/2014/09/29/js-frameworks-libraries/">JavaScript Micro Frameworks, Hypermodularization & Libraries</a>
                    <a class="item" href="/2014/01/20/fear/">Push Through Fear</a>
                </div>

                <div class="ui list">
                    <h4>» MENU</h4>
                    <a class="item" href="/about">About</a>
                    <a class="item" href="/linkblog">Linkblog</a>
                    <a class="item" href="/archives">Archives</a>
                </div>

            </div>
        </div>
    </div>
</div>

<%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
<%- partial('_partial/inline-scripts') %>
</body>

</html>
